:root {
  font-family: 'Red Rose', cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "AirbnbCerealWBd";
  src: 
      url('./fonts/AirbnbCerealWBd.ttf') format('embedded-opentype'), /* Internet Explorer */
      url('./fonts/AirbnbCerealWBd.ttf') format('woff2'),             /* Super Modern Browsers */
      url('./fonts/AirbnbCerealWBd.ttf') format('woff'),              /* Pretty Modern Browsers */
      url('./fonts/AirbnbCerealWBd.ttf') format('truetype'),          /* Safari, Android, iOS */
      url('./fonts/AirbnbCerealWBd.ttf') format('svg');               /* Legacy iOS */
}

@font-face {
  font-family: "EuclidCircularB-Regular";
  src: 
      url('./fonts/EuclidCircularB-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
      url('./fonts/EuclidCircularB-Regular.ttf') format('woff2'),             /* Super Modern Browsers */
      url('./fonts/EuclidCircularB-Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
      url('./fonts/EuclidCircularB-Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
      url('./fonts/EuclidCircularB-Regular.ttf') format('svg');               /* Legacy iOS */
}


